[Desktop Entry]
Encoding=UTF-8
Name=TTB Teletekst Browser
Name[nl]=TTB Teletekst Browser
Comment=Teletekst Browser
Comment[nl]=Bekijk Teletekst op je computer
TryExec=ttb
Exec=ttb
Type=Application
Terminal=false
Categories=Application;Gtk;Network;
Icon=ttb.png

