[Desktop Entry]
Name=TTB Teletekst Browser
Name[nl]=TTB Teletekst Browser
Comment=Teletekst Browser
Comment[nl]=Bekijk Teletekst op je computer
TryExec=ttb
Exec=ttb
Type=Application
Terminal=false
Categories=Network;
Icon=ttb

