/*
 *
 * Description:	stylesheet for liferea website
 * Author:		m.lettner - gmail . com | 2007
 * License:		Creative Commons Attribution-Share Alike 3.0 Unported
 * Notes:		colors based on the Tango color palette
 *
 */

/******************************************************************************/

body, h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd {
	margin : 0;
	padding : 0;
}
body {
	padding : 0 20px;
	font : normal small/1.4 Cambria, Georgia, serif;
	background : #fff url(images/site-bg.png) left top repeat-x;
	color : #2e3436;
	cursor : default;
}
#site {
	min-width : 500px;
	max-width : 800px;
	margin : 0 auto;
}
/*
h2, h3, h4 {
	font-family : "Segoe UI", Tahoma, sans-serif;
}
*/
a {
	text-decoration : none;
	color : #204a87;
	outline : none;
}
#content a[href]:hover, #content a[href]:active,
#sidebar a[href]:hover, #sidebar a[href]:active {
	text-decoration : underline;
}
a img {
	border : none;
}

/******************************************************************************/

#head {
	position : relative;
	padding : 1px;
	border : 2px solid #3465a4;
	text-align : center;
	background : #fff url(images/head-bg.png) left top repeat-x;
}
#head h1 {
	padding : 12px 10px 0;
	border : 1px solid #204a87;
	border-bottom : none;
	color : #204a87;
	font-size : 320%;
	letter-spacing : .15em;
}
#head p {
	padding-bottom : 10px;
	border : 1px solid #3465a4;
	border-top : none;
	color : #555753;
	letter-spacing : 1px;
}
#head img {
	position : absolute;
	top : 2.5em;
	left : 2em;
}

/******************************************************************************/

#menu {
	margin : 20px 0 0;
	padding : 0 20px;
	font-size : 110%;
	background : url(images/menu-bg.png) left bottom repeat-x;
}
#menu:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}

#menu a {
	display : block;
	float : left;
	height : 30px;
	margin : 0 10px 1px 0;
	padding : 0 0 0 15px;
	background : #fff url(images/menu-item-bg.png) left top no-repeat;
	line-height : 30px;
	color : #555753;
	font-weight : bold;
}
#menu a span{
	display : block;
	height : 30px;
	padding : 0 15px 0 0;
	background : #fff url(images/menu-item-bg.png) right top no-repeat;
}
#menu a:hover, #menu a:active, #menu a.active {
	color : #204a87;
}
#menu a.active {
	height : 31px;
	margin-bottom : 0;
	background : #eeeeec url(images/menu-item-active-bg.png) left top no-repeat;
	cursor : default;
}
#menu a.active span {
	background : #eeeeec url(images/menu-item-active-bg.png) right top no-repeat;
}

/******************************************************************************/

#body {
	background : #fff url(images/head-bg.png) left top repeat-x;
	border-left : 1px solid #d3d7cf;
	border-right : 1px solid #d3d7cf;
}
#body:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}
#body .padding {
	padding : 10px 10px 0;
}

div#totop {
	padding : 1em 0 0;
	text-align : center;
}
div#totop a {
	color : #e9b96e;
}
div#totop a:hover span, div#totop a:focus span {
	color : #8f5902;
}

/******************************************************************************/

#documentation #content {
	margin-right : 17em;
}
#content:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}
#content p {
	margin : 0 0 1em;
}

#content h2, #content h3, #content h4 {
	color : #8f5902;
	line-height : 2;
}
#content h2 {
	font-size : 200%;
	letter-spacing : .05em;
}
#content h3 {
	font-size : 170%;
	letter-spacing : .05em;
}
#content h4 {
	margin-top : 1em;
	font-size : 130%;
}
#content .italic {
	font-style : italic;
}

#content .screenshots a img {
	margin : 0 10px 0 0;
	padding : 5px;
	border : 1px solid #d3d7cf;
	background : #fff url(images/foot-bg.png) left bottom repeat-x;
}
#content .screenshots a:hover img {
	border : 1px solid #729fcf;
}

#content ul {
	margin : .5em 0 1em;
}
#content ul li {
	margin-left : 1.5em;
	list-style : square;
}
#content ul.light li {
	color : #888a85;
}

#content dl {

}
#content dl dt {
	position : relative;
	margin-top : 1.5em;
	font-size : 110%;
	font-weight : bold;
	border-bottom : 1px solid #eeeeec;
}
#content dl dt a.totop {
	position : absolute;
	right : 0;
	bottom : 0;
	font-size : 90%;
	color : #8f5902;
	text-decoration : none !important;
}
#content dl dt a.totop span {
	font-weight : normal;
	color : #e9b96e;
}
#content dl dt a.totop:hover span, #content dl dt a.totop:focus span {
	color : #8f5902;
}
#content dl dd {
}
#content dl a.faq-q {
	padding-right : .1em;
	font-size : 140%;
	font-weight : bold;
	color : #888a85;
}
#content dl a.faq-a {
	padding-right : .25em;
	font-size : 150%;
	font-weight : bold;
	color : #729fcf;
}
#dcontent dl dd ul {
	padding-left : 2em;
}
#content dl dd ul li {
	padding-bottom : .5em;
}

#content pre, code, tt {
	cursor : text;
}
#content pre.code {
	margin : 1em 0 2em;
	padding : 1em;
	background : #eeeeec;
}
#content pre.command {
	color : #4e9a06;
}
#content tt {
	color : #4e9a06;
	font-weight : bold;
}

#content img {
	margin : 1em 0;
}

#content table {
	margin-top : 1em;
}
#content table tr th, #content table tr td {
	padding : .5em;
	border-bottom : 1px solid #eeeeec;
	background : #fff url(images/head-bg.png) left -20px repeat-x;
}
#content table tr.head th {
	border : 1px solid #ffca78;
	background : #ffca78 url(images/tr-head-bg.png) left bottom repeat-x;
	font-size : 130%;
}
#content table th {
	text-align : left;
	vertical-align : top;
}

/******************************************************************************/

#sidebar {
	float : right;
	width : 15em;
	margin-left : 1em;
	border : 1px solid #e9b96e;
	background : #ffca78 url(images/sidebar-bg.png) left top repeat-x;
}
#sidebar:after {
	content : ".";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}
#sidebar .padding {
	margin : 2px;
	padding : 0 10px;
	border : 1px solid #c17d11;
	background : #ffca78 url(images/sidebar-bg.png) left top repeat-x;
}
#sidebar h3 {
	padding : 3px 0;
	border-bottom : 1px solid #c17d11;
	font-size : 130%;
	letter-spacing : .05em;
	line-height : 1.2;
}
#sidebar p {
	padding : 5px 0 10px;
}
#sidebar ul {
	padding : 5px 0 10px 14px;
}
#sidebar ul li {
	list-style : square;
}

/******************************************************************************/

#foot {
	clear : both;
	text-align : center;
}
#foot p.finish {
	margin : 0;
	padding : 50px 1em .5em;
	border-left : 1px solid #d3d7cf;
	border-right : 1px solid #d3d7cf;
	border-bottom : 1px solid #d3d7cf;
	background : #fff url(images/foot-bg.png) left bottom repeat-x;
	font-size : 90%;
	color : #babdb6;
}
#foot p.end {
	margin : 0 5px;
	padding : 10px 10px 30px;
	background : #fff url(images/end-bg.png) left top repeat-x;
	font-size : 90%;
	color : #888a85;
}
#foot p a {
	margin : 0 .5em;
	color : inherit;
}
#foot p a:hover, #foot p a:focus {
	color : #204a87;
}

/******************************************************************************/

/* SLIMBOX */

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}
#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}
.lbLoading {
	background: #fff url(images/loading.gif) no-repeat center;
}
#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 5px solid #fff;
	background-repeat: no-repeat;
}
#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}
#lbPrevLink {
	left: 0;
}
#lbPrevLink:hover {
	background: transparent url(images/prevlabel.gif) no-repeat 0% 15%;
}
#lbNextLink {
	right: 0;
}
#lbNextLink:hover {
	background: transparent url(images/nextlabel.gif) no-repeat 100% 15%;
}
#lbBottom {
/*	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;*/
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 5px solid #fff;
	border-top-style: none;
}
#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(images/closelabel.gif) no-repeat center;
	margin: 5px 0;
}
#lbCaption, #lbNumber {
	margin-right: 71px;
}
#lbCaption {
	font-weight: bold;
}
